<tr>
    <div id="<%= dom_id contact %>">
        <td>
            <%= contact.first_name %>
            <%= contact.last_name %>
        </td>
        <td>
            <%= contact.email %>
        </td>
        <td>
            <%= contact.phone %>
        </td>
        <td>
            <%= contact.twitter %>
        </td>
        <td>
            <%= link_to "Show this contact", contact %>
        </td>
    </div>
</tr>