<tr>
    <div id="<%= dom_id contact %>">
        <th>
            <%= contact.first_name %>
        </th>
        <th>
            <%= contact.last_name %>
        </th>
        <th>
            <%= contact.email %>
        </th>
        <th>
            <%= contact.phone %>
        </th>
        <th>
            <%= contact.twitter %>
        </th>
        <th>
            <%= link_to "Show this contact", contact %>
        </th>
    </div>
</tr>